#wrapper {
    width: 1080px;
    min-height: auto;
    margin:0 auto;
    padding: 0;
    font-family: "Avenir W01", Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fff;
}
body{
    background-color: #fff;
}
header{
    width: 100%;
    min-height: 100px;
    padding: auto
    margin: auto;
    text-align: left;
    float: left;
    /*background-color: #f0f7fa;*/
    color: #292929;
    font-family: "Avenir W01", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header h2{
}
header p{
    color: #626262;
    font-size: 12px;
    margin-left: 175px;
    margin-top: -25px;
}
main{
    width: 100%;
    min-height: 900px;
    float: left;
    margin: auto;
    padding: auto;

}
footer{
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 0 20px;
    float: left;;
    border-top: 0.5px solid #292929;
    /*background-color: #f0f7fa;*/
    color: #292929;
    font-family: "Avenir W01", Arial, Helvetica, sans-serif;
    font-size: 10px;
}
footer a{
    color: #292929;
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
footer a:hover{

    border-radius: 4px;
    padding: 0 5px;
    background-color: #292929;
    color: #fff;

}
nav{
    width: 100%;
    min-height: 40px;
    margin:auto;
    padding: auto;
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    border-bottom: 0.5px solid #292929;
    border-top: 0.5px solid #292929;
    border-spacing: 10px;
    /*background-color: #dcf7fa;*/
}
nav ul li{
    width: 80px;
    float: left;
}
nav ul li a{
    color: #292929;
    text-align: center;
    margin: auto;
    padding: 5px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    background-color: #626262;
    color:#fff;
}
/*align some nav to the right end*/
.active{
    background-color: #292929;
    color:#fff;
}
progress{
    width: 96%;
    padding: 0 auto;

}
hr{
    width: 90%;
    margin-top:50px;
    margin-bottom: 50px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px dashed #292929;
    padding: 0;
}
.footer-left{
    width: 33%;
    height: 100%;
    margin: 5 5;
    margin-left: 5px;
    padding: 0 auto;
    text-align: left;
    float: left;
}
.footer-right{
    width: 33%;
    height: 100%;
    margin: 5 5;
    padding: 0 auto;
    text-align: right;
    float: left;
}
.footer-center{
    width: 33%;
    height: 100%;
    margin: 5 5;
    padding: 0 auto;
    text-align: center;
    float: left;
}


.div-alert{
    width: 75%;
    height: 4%;
    color: red;
    padding: auto;
    margin: auto;
    float: right;
}
.div-menu{
    width: 25%;
    height: 100%;
    padding: auto;
    margin: auto;
    float: left;
    color: #292929;
}
.div-menu ul{
    list-style-type: none;
    padding: auto;
    margin: auto;
}
.div-menu ul li{
    margin: 0;
    padding-top: 10px;
}
.div-operation-area{
    width: 100%;
    min-height: 500px;
    padding: auto;
    padding-top: 50px;
    float: left;
    background-color: #fff;
}
.div-canvas{
    width:75%;
    min-height: 45%;
    padding: auto;
    margin: auto;
    float: right;
}
.div-canvas canvas{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.div-prograss-bar{
    width:75%;
    height: 6%;
    padding: auto;
    margin: auto;
    float: right;
}
.div-code-display{
    width:75%;
    min-height: 45%;
    padding: auto;
    margin: auto;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    font-weight: lighter;
    line-height: 96%;
}
.div-code-display pre{
    padding: 15px;
    padding-left: 35px;
    width: 90%;
    float: left;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.div-reference-area{
    width: 100%;
    min-height: 200px;
    padding: auto;
    margin: auto;
    float: left;
    background-color: #fff;
}
.div-reference-area h2{
    margin-left: 50px;
}
.div-reference-area object{
    width: 98%;
    min-height: 400px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.btn{
    width: 200px;
    height: 30px;
    border: 0.5px solid #292929;
    display: inline-block;
    background-color: #fff;
    color: #292929;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #626262;
    color: #fff;
}

.select-form-control{
    border: 0.5px solid #292929;
    width: 133px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;

}
.input-form-control{
    border: 0.5px solid #292929;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
